/*Palette Color*/
$primary: #25A9EE;
$white: #fff;
$black: #000000;
$contentWidth: 1080px;
$primaryFontColor: #5B5B5B;
$secondaryFontColor: #999999;
$textFontSize: clamp(16px, 1rem, 18px);
/*Resources*/
$titleFontSize: clamp(2em, 2.5vw, 3em);
/*Menu*/
$heightMenu: 85px;
/*Hero*/
$heroFontSize: clamp(2vw, 7em, 9vw);
/*Login*/
$inputBackgroudColor: #222222;
$inputPlaceholder: #5E5E5E;
