// Import
@import '../../../root/dashboard-support/root-dashboard-support.scss';

// Content
main{
    padding: 2em 2em 2em calc(2em + 295px);
    @media screen and (max-width: 1080px){
        padding: 2em 2em 2em calc(2em + 80px);
    }
    @media screen and (max-width: 768px){
        padding: 2em 1em 5em 1em;
    }
    .dashboard__container{
        article{
            padding-bottom: 1em;
            h3{
                font-weight: 600;
                font-size: clamp(1em, 1.2vw, 1.5em);
                color: $secondaryFontColor;
            }
        }
        &--row{
            display: grid;
            grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
            gap: 1.25rem;
            a{
                text-decoration: none;
                .card__content{
                    max-width: 650px;
                    width: 100%;
                    padding: 1rem;
                    border-radius: 10px;
                    cursor: pointer;
                    background: #F9F8FF;
                    transition: all ease-in 150ms;
                    &:hover{
                        filter: brightness(0.92);
                    }
                    &--title{
                        display: flex;
                        align-items: center;
                        gap: .75rem;
                        span{
                            font-weight: 800;
                            font-size: 18px;
                            color: $primaryFontColor;
                        }
                    }
                    &--description{
                        padding-top: .5rem;
                        span{
                            letter-spacing: 0.75px;
                            font-size: 16px;
                            font-weight: 600;
                            color: $secondaryFontColor;
                        }
                    }
                }
            }
            .exclent-card{
                .card__content--title{
                    span{
                        color: $primaryFontColor !important;
                    }
                }
                span{
                    svg{
                        fill: $statusColorGood !important;
                    }
                    color: $statusColorGood !important;
                }
            }
            .alert-card{   
                background: #FFDFDF !important;
                .card__content--title{
                    span{
                        color: $statusColorAttention;
                    }
                }
                    figure{
                        background: $statusColorAttention;
                    }   
                    span{
                        svg{
                            fill: $statusColorAttention !important;
                        }
                        color: $statusColorAttention !important;
                    }
            }
        }
    }
}