@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700;800;900&display=swap");
/*Palette Color*/
/*Font Size*/
/*---------
Config CSS
---------*/
html, body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  scroll-behavior: smooth;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Nunito Sans', sans-serif;
}

/*-------
Resources
-------*/
.overlay {
  background: rgba(0, 0, 0, 0.42);
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 9;
}

.figure-icon {
  padding: 5px;
  display: -ms-grid;
  display: grid;
  place-items: center;
  height: 50px;
  width: 50px;
  border-radius: 10px;
  background: -webkit-gradient(linear, left top, right top, from(#836FFF), color-stop(99.99%, #E486EC));
  background: linear-gradient(90deg, #836FFF 0%, #E486EC 99.99%);
}

.figure-icon i::before {
  font-size: 2em;
  color: #fff;
}

/*---------------
Search Restaurant
----------------*/
.overlay__modal {
  display: -ms-grid;
  display: grid;
  place-items: center;
  position: fixed;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 11;
}

.overlay__modal--modal {
  border-radius: 5px;
  padding: 2em 3em;
  width: 550px;
  background: #FFFFFF;
}

@media (max-width: 768px) {
  .overlay__modal--modal {
    width: 95%;
  }
}

.overlay__modal--modal--content {
  display: -ms-grid;
  display: grid;
  place-items: center;
  grid-gap: .75rem;
}

.overlay__modal--modal--content--close {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  cursor: pointer;
}

.overlay__modal--modal--content h3 {
  font-size: 1.5em;
  font-weight: 600;
  color: #161616;
}

.overlay__modal--modal--content img {
  max-width: 12em;
}

.overlay__modal--modal--content--ipt {
  width: 100%;
}

.overlay__modal--modal--content--ipt i::before {
  padding: 1.25em 1em;
  position: absolute;
  font-size: 1em;
  color: #836FFF;
}

.overlay__modal--modal--content--ipt input {
  outline: none;
  width: 100%;
  padding: 1.25em 1.25em 1.25em 3.25em;
  border-radius: 5px;
  border: 1.75px solid #CACACA;
  font-size: 14px;
  font-weight: 600;
  color: #161616;
}

.overlay__modal--modal--content--ipt input::-webkit-input-placeholder {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.5px;
  color: #CACACA;
}

.overlay__modal--modal--content--ipt input:-ms-input-placeholder {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.5px;
  color: #CACACA;
}

.overlay__modal--modal--content--ipt input::-ms-input-placeholder {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.5px;
  color: #CACACA;
}

.overlay__modal--modal--content--ipt input::placeholder {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.5px;
  color: #CACACA;
}

.overlay__modal button {
  cursor: pointer;
  width: 100%;
  background: #836FFF;
  border: none;
  color: #fff;
  font-size: 0.9em;
  font-weight: 600;
  letter-spacing: 0.5px;
  padding: 1.25em;
  border-radius: 5px;
  -webkit-transition: all 150ms ease-in;
  transition: all 150ms ease-in;
}

.overlay__modal button:hover {
  opacity: 0.85;
}

.overlay__modal button:nth-last-child(1) {
  background: none;
  color: #836FFF;
}

/*-----
Components
------*/
/*Palette Color*/
/*Font Size*/
main {
  padding: 2em 2em 2em calc(2em + 295px);
}

@media screen and (max-width: 1366px) {
  main {
    padding: 2em 2em 2em calc(2em + 80px);
  }
}

@media screen and (max-width: 768px) {
  main {
    padding: 2em 1em 5em 1em;
  }
}

main .dashboard__container article {
  padding-bottom: 1em;
}

main .dashboard__container article h3 {
  font-weight: 600;
  font-size: clamp(1em, 1.2vw, 1.5em);
  color: #878787;
}

main .dashboard__container--row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.25rem;
}

main .dashboard__container--row a {
  text-decoration: none;
}

main .dashboard__container--row a .card__content {
  max-width: 650px;
  width: 100%;
  padding: 1rem;
  border-radius: 10px;
  cursor: pointer;
  background: #F9F8FF;
  -webkit-transition: all ease-in 150ms;
  transition: all ease-in 150ms;
}

main .dashboard__container--row a .card__content:hover {
  -webkit-filter: brightness(0.92);
          filter: brightness(0.92);
}

main .dashboard__container--row a .card__content--title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: .75rem;
}

main .dashboard__container--row a .card__content--title span {
  font-weight: 800;
  font-size: 18px;
  color: #161616;
}

main .dashboard__container--row a .card__content--description {
  padding-top: .5rem;
}

main .dashboard__container--row a .card__content--description span {
  letter-spacing: 0.75px;
  font-size: 16px;
  font-weight: 600;
  color: #878787;
}

main .dashboard__container--row .exclent-card .card__content--title span {
  color: #161616 !important;
}

main .dashboard__container--row .exclent-card span {
  color: #35E156 !important;
}

main .dashboard__container--row .exclent-card span svg {
  fill: #35E156 !important;
}

main .dashboard__container--row .warning-card {
  background: #FFE68B !important;
}

main .dashboard__container--row .warning-card .card__content--title span {
  color: #FFAE11;
}

main .dashboard__container--row .warning-card figure {
  background: #FFAE11;
}

main .dashboard__container--row .warning-card span {
  color: #FFAE11 !important;
}

main .dashboard__container--row .warning-card span svg {
  fill: #FFAE11 !important;
}

main .dashboard__container--row .alert-card {
  background: #FFDFDF !important;
}

main .dashboard__container--row .alert-card .card__content--title span {
  color: #FB4B4B;
}

main .dashboard__container--row .alert-card figure {
  background: #FB4B4B;
}

main .dashboard__container--row .alert-card span {
  color: #FB4B4B !important;
}

main .dashboard__container--row .alert-card span svg {
  fill: #FB4B4B !important;
}

/*Palette Color*/
/*Font Size*/
.sidebar {
  z-index: 8;
  position: fixed;
  background: #FFFFFF;
  border-right: 1.75px solid #CACACA;
  height: 100%;
  width: 295px;
  padding: 1.5em 2.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 1366px) {
  .sidebar {
    padding: 1.5em 1em;
    width: 80px;
  }
}

@media screen and (max-width: 768px) {
  .sidebar {
    display: none;
  }
}

.sidebar__content--logo {
  padding: 0.75em 0 2em 0;
}

.sidebar__content--logo img {
  width: 100%;
}

.sidebar__content--links ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sidebar a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1em 2em;
  font-weight: 500;
  text-decoration: none;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}

@media screen and (max-width: 1366px) {
  .sidebar a {
    padding: 1em 1em;
  }
}

.sidebar a i {
  margin-right: 15px;
  font-size: 18px;
}

.sidebar a i::before {
  color: #878787;
}

.sidebar a span {
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 0.25px;
  color: #878787;
}

@media screen and (max-width: 1366px) {
  .sidebar a span {
    display: none;
  }
}

.sidebar a:hover {
  opacity: 0.6;
}

.actived {
  background: #EBE8FF;
  border-radius: 5px;
}

.actived i::before, .actived span {
  color: #836FFF !important;
}

@media screen and (max-width: 768px) {
  .actived {
    background: unset;
  }
}

/*Palette Color*/
/*Font Size*/
.header {
  z-index: 1;
  width: 100%;
  height: 100px;
  background: #FFFFFF;
  border-bottom: 1.75px solid #CACACA;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1em 2em 1em calc(295px + 2em);
}

@media screen and (max-width: 1366px) {
  .header {
    padding: 1em 2em 1em calc(80px + 2em);
  }
}

@media screen and (max-width: 768px) {
  .header {
    display: none;
  }
}

.header--message span {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.75px;
  color: #878787;
}

.header--message h2 {
  color: #161616;
  font-size: 2em;
}

.header--profile-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1em;
}

.header--profile-content button {
  cursor: pointer;
  border: none;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.75em 1em;
  background: #EBE8FF;
  text-decoration: none;
}

.header--profile-content button i::before {
  font-size: 2em;
  color: #836FFF;
  margin-right: 15px;
}

.header--profile-content button span {
  font-weight: 600;
  color: #836FFF;
}

.header--profile-content--icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5em;
}

.header--profile-content--icon i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header--profile-content--icon i .icon-bell--actived {
  height: 10px;
  width: 10px;
  border-radius: 5px;
  border: 2px solid #FFFFFF;
  background: #836FFF;
  position: absolute;
  right: 6.5em;
}

.header--profile-content--icon i:before {
  font-size: 1.5em;
}

.header--profile-content--icon img {
  width: 65px;
  border-radius: 5em;
}

/*Palette Color*/
/*Font Size*/
.mobile-menu {
  z-index: 1;
  bottom: 0;
  position: fixed;
  width: 100%;
  height: 65px;
  border-top: 2px solid #CACACA;
  background: #FFFFFF;
  padding: 0 2em;
  display: -ms-grid;
  display: grid;
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

.mobile-menu__content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[5];
      grid-template-columns: repeat(5, auto);
  place-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.mobile-menu__content a, .mobile-menu__content button {
  cursor: pointer;
  font-size: 1.5em;
  text-decoration: none;
}

.mobile-menu__content a i::before, .mobile-menu__content button i::before {
  display: block;
}

.mobile-menu__content a:nth-child(4), .mobile-menu__content button:nth-child(4) {
  background: #EBE8FF;
  border-radius: 5px;
}

.mobile-menu__content a:nth-child(4) i::before, .mobile-menu__content button:nth-child(4) i::before {
  color: #836FFF;
  padding: 0.35em;
}

.mobile-menu__content button {
  background: none;
  border: none;
}

.mobile-menu__content button img {
  display: block;
  width: 50px;
  border-radius: 5em;
}

.mobile-menu-options-opened {
  bottom: 0;
}

.mobile-menu-options {
  z-index: 10;
  display: -ms-grid;
  display: grid;
  position: fixed;
  background: #000;
  width: 100%;
  border-radius: 10px 10px 0 0;
  bottom: -100%;
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}

.mobile-menu-options ul {
  padding-left: 1.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.mobile-menu-options ul a {
  padding: 1.5em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}

.mobile-menu-options ul a i::before {
  margin-right: 10px;
  font-size: 1.5em;
  color: white;
}

.mobile-menu-options ul a span {
  font-size: 18px;
  letter-spacing: 0.5px;
  color: white;
}

/*Palette Color*/
/*Font Size*/
.notifications {
  z-index: 11;
  -webkit-transition: all 0.5s cubic-bezier(0.45, 0.05, 0.55, 0.95);
  transition: all 0.5s cubic-bezier(0.45, 0.05, 0.55, 0.95);
  height: 100%;
  position: fixed;
  right: -200%;
  background: #FFFFFF;
  border: 1.75px solid #CACACA;
  padding: 1em;
  max-width: 375px;
  overflow-y: scroll;
}

@media screen and (max-width: 768px) {
  .notifications {
    max-width: 320px;
  }
}

.notifications--icon-close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1em;
  padding-bottom: .5rem;
}

.notifications--icon-close h2 {
  font-size: clamp(1.5em, 1.75vw, 2em);
}

.notifications--icon-close svg {
  cursor: pointer;
}

.notifications--icon-close svg path {
  fill: #836FFF;
}

.notifications__content--not-found {
  height: 20vh;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: (auto)[2];
      grid-template-columns: repeat(2, auto);
}

.notifications__content--not-found h1 {
  font-size: clamp(3em, 3.75vw, 4em);
  color: #000;
}

.notifications__content--not-found span {
  font-size: clamp(1em, 1vw, 1.25em);
  line-height: 1.5em;
  letter-spacing: 0.75px;
  color: #878787;
}

.notifications__content--not-found img {
  width: 100%;
}

.notifications__content .card__content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[2];
      grid-template-columns: repeat(2, auto);
  gap: 1em;
  padding: .75rem;
  margin-bottom: 1em;
  border-radius: 10px;
  cursor: pointer;
  border: 2px solid #CACACA;
}

.notifications__content .card__content figure {
  padding: 5px;
  display: -ms-grid;
  display: grid;
  place-items: center;
  height: 67px;
  width: 67px;
  border-radius: 10px;
  background: -webkit-gradient(linear, left top, right top, from(#836FFF), color-stop(99.99%, #E486EC));
  background: linear-gradient(90deg, #836FFF 0%, #E486EC 99.99%);
}

.notifications__content .card__content figure i::before {
  font-size: 2.7em;
  color: #fff;
}

.notifications__content .card__content--description span {
  letter-spacing: 0.75px;
  font-size: 16px;
  color: #878787;
}

.notifications__content .card__content--description .card-notifications-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.notifications__content .card__content--description .card-notifications-title h3 {
  font-size: 18px;
  color: #161616;
}

.notifications__content .card__content--description .card-notifications-title span {
  font-size: 13px;
  font-weight: 600;
  color: #161616;
}

/*Palette Color*/
/*Font Size*/
.main-settings {
  padding: 2em 2em 2em calc(2em + 295px + 300px);
}

@media screen and (max-width: 1366px) {
  .main-settings {
    padding: 2em 2em 2em calc(2em + 80px + 300px);
  }
}

@media screen and (max-width: 768px) {
  .main-settings {
    padding: 2em 2em 2em 2em;
    position: fixed;
    right: -1000%;
  }
}

.main-settings .dashboard__container--settings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1em;
}

.main-settings .dashboard__container--settings--title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.5em;
  padding-bottom: 0.5em;
}

.main-settings .dashboard__container--settings--title button {
  border: none;
  cursor: pointer;
  border-radius: 5px;
  background: none;
}

.main-settings .dashboard__container--settings--title button i:before {
  font-size: 1.75em;
  color: #836FFF;
}

.main-settings .dashboard__container--settings--title--content h3 {
  font-size: 2em;
  color: #222222;
}

.main-settings .dashboard__container--settings--title--content span {
  color: #878787;
}

.main-settings .dashboard__container--settings--item h2 {
  font-size: 1.25em;
  letter-spacing: 0.25px;
  color: #222222;
}

.main-settings .dashboard__container--settings--item span {
  font-size: 1em;
  font-weight: 700;
  color: #878787;
  margin-right: 1.5em;
}

.main-settings .dashboard__container--settings--item button {
  cursor: pointer;
  padding: 0.5em 1em;
  border-radius: 10px;
  font-weight: 700;
  color: #836FFF;
  background: #EBE8FF;
  border: none;
}

.main-settings .dashboard__container--settings--item ul {
  font-weight: 700;
  color: #878787;
  padding: 0.5em 1em;
}

.main-settings .dashboard__container--settings--item ul li {
  padding: .20rem;
}

.main-settings .dashboard__container--settings--item input[type=checkbox] {
  height: 0;
  width: 0;
  visibility: hidden;
}

.main-settings .dashboard__container--settings--item label {
  cursor: pointer;
  text-indent: -9999px;
  width: 50px;
  height: 25px;
  background: #CACACA;
  display: block;
  border-radius: 100px;
  position: relative;
}

.main-settings .dashboard__container--settings--item label:after {
  content: '';
  position: absolute;
  top: 5px;
  left: 5px;
  width: 15px;
  height: 15px;
  background: #fff;
  border-radius: 90px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.main-settings .dashboard__container--settings--item input:checked + label {
  background: #836FFF;
}

.main-settings .dashboard__container--settings--item input:checked + label:after {
  left: calc(100% - 5px);
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.main-settings-mobile-actived-aside {
  height: 100%;
  width: 100%;
  -webkit-transition: all 300ms ease-in;
  transition: all 300ms ease-in;
  right: 0;
  padding: 2em 2em 2em 2em;
  z-index: 0;
  background: #FFFFFF;
}

/*Palette Color*/
/*Font Size*/
.sidebar-settings {
  border-right: 1.75px solid #CACACA;
  padding: 100px 0 0 295px;
  position: fixed;
  height: 100%;
}

@media screen and (max-width: 1366px) {
  .sidebar-settings {
    padding: 100px 0 0 80px;
  }
}

@media screen and (max-width: 768px) {
  .sidebar-settings {
    padding: 0;
    width: 100%;
  }
}

.sidebar-settings__content {
  width: 300px;
}

@media screen and (max-width: 768px) {
  .sidebar-settings__content {
    width: 100%;
  }
}

.sidebar-settings__content--link {
  cursor: pointer;
  border-bottom: 1.75px solid #CACACA;
  padding: 1.25em 1em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 1fr auto;
      grid-template-columns: auto 1fr auto;
  gap: 1em;
}

.sidebar-settings__content--link-icon {
  border-radius: 5px;
  width: 3em;
  height: 3em;
  padding: 1em;
  background: #878787;
}

.sidebar-settings__content--link-icon i:before {
  font-size: 1.25em;
  color: #fff;
}

.sidebar-settings__content--link-item h2 {
  font-size: 1em;
  color: #161616;
}

.sidebar-settings__content--link-item span {
  font-size: 0.85em;
  font-weight: 600;
  color: #878787;
}

.sidebar-settings__content--actived .sidebar-settings__content--link-icon {
  background: #EBE8FF;
}

.sidebar-settings__content--actived .sidebar-settings__content--link-icon i:before {
  color: #836FFF;
}

.sidebar-settings__content--actived .sidebar-settings__content--link-item h2 {
  color: #836FFF;
}

.sidebar-settings__content--actived svg path {
  stroke: #836FFF !important;
}

/*Palette Color*/
/*Font Size*/
.dashboard__container {
  max-width: calc(100% - 295px);
  max-width: 100%;
}

.dashboard__container--return {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1em;
  padding-bottom: 1.5em;
}

.dashboard__container--return figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.25rem;
  font-size: 18px;
}

.dashboard__container--return figure a {
  text-decoration: none;
}

.dashboard__container--return figure:nth-child(1) {
  cursor: pointer;
  border-radius: 5px;
  padding: 0.4rem 0.75rem;
  background: #EBE8FF;
  color: #836FFF;
}

.dashboard__container--return figure:nth-child(1) i::before {
  color: #836FFF;
}

.dashboard__container--return figure:nth-child(2) i {
  width: 40px;
  height: 40px;
  background: -webkit-gradient(linear, left top, right top, from(#836FFF), color-stop(99.99%, #E486EC));
  background: linear-gradient(90deg, #836FFF 0%, #E486EC 99.99%);
  display: -ms-grid;
  display: grid;
  place-items: center;
  border-radius: 5px;
}

.dashboard__container--return figure:nth-child(2) i::before {
  font-size: 1.3em;
  color: white;
}

.dashboard__container--return figure:nth-child(2) span {
  font-size: 1.1em;
  font-weight: 700;
  color: #161616;
}

.dashboard__container--top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1em;
  width: 100%;
}

@media screen and (max-width: 1366px) {
  .dashboard__container--top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.dashboard__container--bottom {
  padding-top: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 15px;
  max-width: 100%;
}

@media screen and (max-width: 1366px) {
  .dashboard__container--bottom {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(250px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}

.dashboard__container--consume {
  width: calc(100% / 4 - 15px);
  border-radius: 5px;
  border: 2px solid #CACACA;
  padding: 1rem;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

@media screen and (max-width: 1366px) {
  .dashboard__container--consume {
    width: 100%;
  }
}

.dashboard__container--consume:last-child {
  width: calc(100% / 4);
}

@media screen and (max-width: 1366px) {
  .dashboard__container--consume:last-child {
    width: 100%;
  }
}

.dashboard__container--consume h3 {
  font-size: 1.5em;
  color: #161616;
}

.dashboard__container--consume .circular-progress {
  position: relative;
  width: 150px;
  height: 150px;
}

.dashboard__container--consume .circular-progress svg {
  position: relative;
  width: 150px;
  height: 150px;
}

.dashboard__container--consume .circular-progress svg circle {
  width: 150px;
  height: 150px;
  fill: none;
  stroke-width: 10;
  stroke: #FFFFFF;
  -webkit-transform: translate(5px, 5px);
          transform: translate(5px, 5px);
  stroke-dasharray: 440;
  stroke-dashoffset: 440;
  stroke-linecap: round;
}

.dashboard__container--consume .circular-progress svg circle:nth-child(1) {
  stroke-dashoffset: 0;
  stroke: #EBE8FF;
}

.dashboard__container--consume .circular-progress svg circle:nth-child(2) {
  stroke-dashoffset: calc(440 - (440 * 87) / 100);
  stroke: #836FFF;
}

.dashboard__container--consume .circular-progress .value-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #161616;
}

.dashboard__container--consume .circular-progress .value-container h2 {
  font-size: 48px;
}

.dashboard__container--consume .circular-progress .value-container h2 span {
  font-size: 24px;
}

.dashboard__container--consume .progress-disk {
  background: conic-gradient(#836FFF 250deg, #EBE8FF 250deg);
}

.dashboard__container--status {
  width: calc(100% / 4 - 15px);
  border-radius: 5px;
  border: 2px solid #CACACA;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

@media screen and (max-width: 1366px) {
  .dashboard__container--status {
    width: 100%;
  }
}

.dashboard__container--status h3 {
  font-size: 2em;
  color: #161616;
}

.dashboard__container--status span {
  font-size: 16px;
  font-weight: 600;
  color: #35E156;
}

.dashboard__container--config {
  width: calc(100% / 4 - 15px);
  border-radius: 5px;
  border: 2px solid #CACACA;
  padding: 1rem;
}

@media screen and (max-width: 1366px) {
  .dashboard__container--config {
    width: 100%;
  }
}

.dashboard__container--config h3 {
  font-size: 1.5em;
  letter-spacing: 0.5px;
}

.dashboard__container--config div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1em 0;
  border-bottom: 1.5px solid #CACACA;
}

.dashboard__container--config div span {
  font-size: 16px;
  font-weight: 600;
  color: #5C5C5C;
}

.dashboard__container--config div span b {
  color: #836FFF;
}

.dashboard__container--charts {
  display: -ms-grid;
  display: grid;
  place-items: center;
  border: 2px solid #CACACA;
  border-radius: 5px;
  padding: .75rem 1.25em;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .dashboard__container--charts {
    display: none;
  }
}

.dashboard__container--components {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (250px)[2];
      grid-template-columns: repeat(2, 250px);
  gap: .75rem;
}

@media screen and (max-width: 1366px) {
  .dashboard__container--components {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.dashboard__container--components .components__card {
  border: 2px solid #CACACA;
  border-radius: 5px;
  padding: .75rem 1.25em;
  max-width: 250px;
  width: 100%;
}

@media screen and (max-width: 1366px) {
  .dashboard__container--components .components__card {
    max-width: 100%;
  }
}

.dashboard__container--components .components__card i {
  border-radius: 5px;
  display: -ms-grid;
  display: grid;
  place-items: center;
  width: 50px;
  height: 50px;
  padding: .25rem;
  background: -webkit-gradient(linear, left top, right top, from(#836FFF), color-stop(99.99%, #E486EC));
  background: linear-gradient(90deg, #836FFF 0%, #E486EC 99.99%);
}

.dashboard__container--components .components__card i::before {
  font-size: 2em;
  color: white;
}

.dashboard__container--components .components__card h3 {
  font-weight: 800;
  font-size: 1.25em;
}

.dashboard__container--components .components__card span {
  color: #878787;
}

.dashboard__container--components .components__card .progressbar {
  width: 100%;
  height: 10px;
  border-radius: 1em;
  background: #EBE8FF;
}

.dashboard__container--components .components__card .progressbar__use {
  border-radius: 1em;
  height: 10px;
  width: 20%;
  background: #836FFF;
}

.dashboard__container--components .components__card--use {
  padding-top: .5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dashboard__container--components .components__card--use span:nth-child(1) {
  font-size: 20px;
  color: #35E156;
  font-weight: 900;
}

.dashboard__container--components .components__card--use span:nth-child(2) {
  font-size: 16px;
  color: #5C5C5C;
}

/*Palette Color*/
/*Font Size*/
select {
  -webkit-transition: ease-in 150ms;
  transition: ease-in 150ms;
  padding: 0.45rem 0.5rem;
  cursor: pointer;
  font-size: clamp(16px, 1rem, 18px);
  border: none;
  border-radius: 7px;
  background: #fff;
  outline: none;
  color: #222222;
  border: 1.5px solid #B8B8B8;
}

.rwd-table {
  margin: 1em 0;
}

@media (min-width: 1081px) {
  .rwd-table {
    width: 100%;
  }
}

.rwd-table td {
  border-bottom: 1px solid rgba(0, 0, 0, 0.212);
}

.rwd-table th {
  display: none;
}

.rwd-table td {
  display: block;
}

.rwd-table td:first-child {
  padding-top: .5em;
}

.rwd-table td:last-child {
  padding-bottom: .5em;
}

.rwd-table td:before {
  content: attr(data-th) ": ";
  font-weight: bold;
  width: 6.5em;
  display: inline-block;
}

@media (min-width: 480px) {
  .rwd-table td:before {
    display: none;
  }
}

.rwd-table th, .rwd-table td {
  text-align: left;
}

@media (min-width: 480px) {
  .rwd-table th, .rwd-table td {
    display: table-cell;
    padding: .25em .5em;
  }
  .rwd-table th:first-child, .rwd-table td:first-child {
    padding-left: 0;
  }
  .rwd-table th:last-child, .rwd-table td:last-child {
    padding-right: 0;
  }
}

.rwd-table {
  color: #878787;
  border-radius: .4em;
  overflow: hidden;
}

.rwd-table tr {
  border-color: #7f4646;
}

.rwd-table th, .rwd-table td {
  margin: .5em 1em;
}

@media (min-width: 480px) {
  .rwd-table th, .rwd-table td {
    padding: 1em !important;
  }
}

.rwd-table th, .rwd-table td:before {
  color: #161616;
}

.desc_red {
  color: #FB4B4B;
  font-weight: 800;
  font-size: 1.05em;
}

.icon-memory:before {
  content: "\e901";
  color: #ffffff;
}

@media (max-width: 768px) {
  .table-web {
    display: none;
  }
  .table-mobile {
    display: block;
  }
  select {
    margin-bottom: 1em;
  }
}

@media (min-width: 769px) {
  .table-web {
    display: block;
  }
  .table-mobile {
    display: none;
  }
}

.container-table {
  margin: 0 auto;
  margin-bottom: 2.5em;
}

.accordion .accordion-item {
  padding: 1em 1em 0 1em;
  border: 2px solid #E486EC;
  margin-bottom: 1em;
  border-radius: 5px;
}

.accordion button {
  position: relative;
  display: block;
  text-align: left;
  width: 100%;
  padding: 1em 0;
  border: none;
  background: none;
  outline: none;
}

.accordion button .accordion-title {
  padding: 1em 1.5em 1em 0;
}

.accordion button .icon {
  display: inline-block;
  position: absolute;
  top: 18px;
  right: 0;
  width: 22px;
  height: 22px;
  border: 1px solid;
  border-radius: 22px;
}

.accordion button .icon::before {
  display: block;
  position: absolute;
  content: "";
  top: 9px;
  left: 5px;
  width: 10px;
  height: 2px;
  background: currentColor;
}

.accordion button .icon::after {
  display: block;
  position: absolute;
  content: "";
  top: 5px;
  left: 9px;
  width: 2px;
  height: 10px;
  background: currentColor;
}

.accordion button[aria-expanded=true] .icon::after {
  width: 0;
}

.accordion button[aria-expanded=true] + .accordion-content {
  opacity: 1;
  max-height: 9em;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
  will-change: opacity, max-height;
}

.accordion .accordion-content {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: opacity 200ms linear, max-height 200ms linear;
  transition: opacity 200ms linear, max-height 200ms linear;
  will-change: opacity, max-height;
}

.accordion .accordion-content p {
  font-size: 1rem;
  font-weight: 300;
  margin: 2em 0;
}

.flex-table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-table h1 {
  color: #161616;
  font-size: 1.2rem;
}

.flex-table p {
  color: #878787;
  font-size: 1rem;
}

.flex-table h3 {
  font-weight: 800;
  font-size: 1rem;
}

.flex-table span {
  font-size: 1rem;
}

.flex-table span .desc_red {
  color: #FB4B4B;
}

.icon-component {
  margin-right: 1em;
  margin-bottom: 1em;
}

.green {
  color: #878787;
}
/*# sourceMappingURL=dashboard.css.map */