@import '../../../root/root.scss';


.data_content{

    @media screen and(max-width: 890px){
        display: none;
    }

    border-radius: 30px;
    height: 100%;
    padding: 2em 0 0 22em;
    .register_ref{
        display: grid;
        justify-content: flex-end;
        padding: 0px 2em 1em 0;;
            .reg_btn{
                text-decoration: none;
                padding: 0 2em;
                border-radius: 5px;
                height: 40px;
                display: flex;
                align-items: center;
                background-color: $primary;
                color: white;
                font-weight: 100;
            }
        }
        .datas{
             
            width: 96%;
            grid-template-columns: repeat(5,auto);
            display: grid;
            
                .data_column{
                    display: grid;
                    gap: 2em;
                    .data_line{
                        display: grid;
                        gap: 2em;
                        border-color: #CACACA;
                        border-width: 0 0 1px 0;
                        border-style: solid;
                        padding: 0 0 1em 0;
                        .icon-restaurant::before{
                            color: $primary;
                            margin-right: 10px;
                        }
                        }
                    }
             }
}
