// Import palette
@import '../../../root/root';

//Content
.plans{  
  padding: 5em 2em;
  background: $black;
  display: grid;
  place-items: center;
  &__content{
    text-align: center;
    h1{
      color: $white;
    }
    p{
      color: $primaryFontColor;
      padding: 2em 0 4em 0;
    }
  }    
.plans__content__cards{
  max-width: $contentWidth;
  width: 100%;
  display: flex;
  justify-content: space-between;
  @media screen and (max-width: 980px){
    flex-direction: column;
    align-items: center;
    gap: 3em;
  }
  .plans__content__item{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    transition: ease-in-out 300ms;
    background: $white;
    width: 300px;
    height: 500px;
    padding: 1em 2em;
    border-radius: 10px;
    &--title{
      h1{
        font-size: 2em; 
        font-weight: 700;
      }
      h2{
        font-size: 2.5em;
        font-weight: 800;
        color: $primary;
        span{
          font-size: 16px;
        }
      }      
    }
    ul{    
      list-style: none;
      // padding: 2em 0 5em 0;
      li{
        gap: .5rem;
        display: flex;
        align-items: center;
        span{      
          padding: .5rem 0;
          font-weight: 700;
        }
      }
    }
    &:hover{
      transform: scale(1.025);
      background: $primary;
      h1{color: $white;}
      h2{color: $white;
        span{color: #0076B4;}
      }
      li{color: $white;}    
    }
    &--btn{
      display: flex;
      flex-direction: column;
      a{
        margin-bottom: 1.5em;
        text-align: center;
        padding: 1rem 1em;
        background: $black;
        color: $white;
        &:hover{
          background: $white; 
          color: $black;
        }
      }     
    }
  }
}

}