@import '../../../root/root.scss';


.background{
    background-color: rgba(22, 22, 22, 0.7);
    width: 100%;
    height: 100vh;
    position: absolute;
    transition: 0.5s;
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;

    .modal-container{
        
        h2{
            margin-bottom: 2em;
            span{
                color: $primary;
                float: right;
                cursor: pointer;
            }
        }

        
        height: 450px;
        width: 800px;
        background-color: $white;
        opacity: 200%;
        padding: 2.5% 5%;

        .modal-content{

            display: flex;
            flex-direction: column;
            
            .form{
                display: flex;
                flex-direction: column;
            }

            .btn_confirm{
                cursor: pointer;
                margin-top: 20px;
                text-decoration: none;
                padding: 0 2em;
                border-radius: 5px;
                height: 60px;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: $primary;
                color: white;
                border: none;
            }
            

            .modal-separator{
                display: flex;
                flex-direction: row;
                display: flex;
                height: 100%;
                justify-content: space-between;
                margin-bottom: 2em;
    
            }
    
            .content-input{
    
                transition: ease-in 150ms;
                padding: 1rem 1.3rem;
                font-size: $textFontSize;
                border: none;
                border-radius: 5px;
                background: $white;
                outline: none;
                color: $primary;
                margin: .1em 0;
                border: 1.5px solid $inputBorder;
                width: 100%;
    
                &:focus{
                    border: 1.5px solid $primary;
                }
            }
        }
    }
}
