// Import palette
@import  '../../root/root';

//Content
.request{
    display: grid;
    place-items: center;
    padding: 4em 2em;
    &__content{
        width: 100%;
        max-width: $contentWidth;
        text-align: center;
        img{
            width: 50vw;
        }
    }
}