// Import palette
@import  '../../root/root';

// Content
.footer{
    width: 100%;
    background: $black;
    padding-top: 1.5em;
    &__content{
        padding: 2em 3em;
        display: flex;
        &__logo{
            img{
                padding-bottom: .5rem 0;
            }
            p{
                line-height: 1.25rem;
                letter-spacing: 0.25px;
                font-size: 16px;
                font-weight: 600;
                white-space: pre-line;
                color: $secondaryFontColor;
            }
        }
        &_links{
            list-style: none;
            width: 70vw;
            display: grid;
            grid-template-columns: repeat(3, auto);
            justify-content: center;
            gap: 5em;
            li{
                padding: 0.05rem;
                h2{
                    font-size: 18px;
                    color: $white;
                }
                a{
                    transition: ease-in 150ms;
                    font-size: 16px;
                    text-decoration: none;
                    color: $secondaryFontColor;
                    &:hover{
                        color: $white;
                    }
                }
            }
        }
        @media screen and (max-width: 890px){
            flex-direction: column;
            align-items: center;
            gap: 2em;
            text-align: center;
            ul{
                gap: 2em;
                grid-template-columns: none;
            }
        }
    }    
    &_copyright{
        border-top: 1px solid $white;
        padding: 1.25rem;
        text-align: center;
        span{
            letter-spacing: 0.25px;
            color: $white;
        }
    }
}