// Imports
@import '../../root/root';
@import '../menu/menu';
@import 'recover';

// Config page
body {background: $white;}

//Content
.section-login{
    height: 100vh;
    padding-top: calc(85px + 2em);
    display: grid;;    
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    @media (max-width: 980px){
        padding: calc(85px + 2em) 0em 0em 0em;
        grid-template-columns: 1fr;
    }
    &__illustration{        
        padding: 0 2em;
        width: 100%;
        display: grid;
        justify-content: end;
        @media (max-width: 980px){
            display: none;
        }
        &--content{
            img{
                width: 30vw;
            }
        }
    }
    /*-----------------------------------*/
    //Form
    &__content{
        padding: 0 2em;
        width: 100%;
        display: grid;
        justify-content: start;
        @media (max-width: 980px){
            height: 100%;
            display: flex;
        }
        &__form{
            width: 500px;
            display: flex;
            flex-direction: column;
            padding: 0 1.5em;
            justify-content: space-between;
            @media (max-width: 980px){
                padding: 0;
                width: 100%;
                
            }
            article{
                padding-bottom: 1em;
                h1{
                    color: $black;
                }
            }
            select{
                margin-top: 10px;
                display:block;
                margin-left:  auto;
                margin-right: 0;
                transition: ease-in 150ms;
                padding: 0.45rem 0.5rem;
                cursor: pointer;
                font-size: $textFontSize;
                border: none;
                border-radius: 7px;
                background: $white;
                outline: none;
                color: $inputBackgroudColor;
                border: 1.5px solid $inputBorder;
                &:focus{
                    border: 1.5px solid $primary;
                }
            }
            label{
                margin-top: 1px;
                font-weight: 700;
                color: $black;
            }
            .email{
                margin-bottom: 5px;
            }
            &--input{
                #login_error_message {
                    color:red;
                    display: none;
                }
                i{
                    cursor: pointer;
                    margin-top: 30px;
                    margin-left: 415px;
                    position: absolute;                
                    color: #5E5E5E;
                    @media screen and (max-width: 980px){
                        margin-left: 85%;
                        margin-left: calc(100% - 7em);
                    }
                }
                input{
                    transition: ease-in 150ms;
                    padding: 1.25rem 1.5rem;
                    cursor: pointer;
                    font-size: $textFontSize;
                    border: none;
                    border-radius: 5px;
                    background: $white;
                    outline: none;
                    color: $primary;
                    margin: .1em 0;
                    border: 1.5px solid $inputBorder;
                    width: 100%;
                    &:focus{
                        border: 1.5px solid $primary;
                    }
                    
                }
                ::placeholder{
                    font-size: 15px;
                    letter-spacing: 0.25px;
                    font-weight: 600;
                    color: $inputPlaceholder;
                }
            }
            .section-login__content__form--options{
                padding-bottom: 1.5em;
                display: flex;
                flex-direction: column;
                justify-content:space-between;
                font-size: 16px;
                letter-spacing: 0.25px;
                &--recover{     
                    display: flex;               
                    justify-content: space-between;
                    padding-bottom: .2rem;
                    padding-top: 0.7em;
                    span{
                        display: flex;
                        align-items: center;
                        color: $white;
                        cursor: pointer;
                        gap: .25rem;
                        input[type=checkbox]{
                            cursor: pointer;
                            padding: 10px;
                            appearance: none;
                            border-radius: 3px;
                            background: $white;
                            outline: none;
                        }
                        input[type=checkbox]:checked{
                            content: "";
                            position: relative;
                            background-image: url(../../../imgs/check.png);
                            background-size: contain;
                            background-color: $primary;
                        }
                    }
                    a{
                        text-decoration: none;
                        color: $secondaryFontColor;
                        cursor: pointer;
                        font-size: small;
                        margin-top: 11px;
                    }
                }
                button{
                    font-weight: 700;
                    color: $white;
                    background-color: $primary;
                    border-radius: 5px;
                    padding: 1.25rem 1.5rem;
                    border: none;
                    cursor: pointer;
                }
                span{
                    display: flex;
                    margin-top: 10px;
                }
                p{
                    color: $secondaryFontColor;
                }
                a{
                    text-decoration: none;
                    font-weight: 700;
                    color: $primary;
                    cursor: pointer;
                    margin-left: 7px;
                }
            }
        }
    }        
}
