@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700;800;900&display=swap");
/*---------
Config CSS
---------*/
html, body{
  display: flex;
  flex-direction: column;
  height: 100%;
  scroll-behavior: smooth;
}
main{
  display: flex;
  flex-direction: column;
  flex: 1;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Nunito Sans', sans-serif;
}
/*-------
Resources
-------*/
.overlay{
  background: rgba(0, 0, 0, 0.42);
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 9;
}
/*-----
Components
------*/
@import 'dashboard-section';
@import '../sidebar/sidebar';
@import '../header/header';
@import '../mobile-menu/mobile-menu';
@import '../notifications/notifications';
@import 'dashboard-monitor';
@import 'dashboard-registros';