/*Palette Color*/
/*Resources*/
/*Menu*/
/*Hero*/
/*Login*/
/*Palette Color*/
/*Resources*/
/*Menu*/
/*Hero*/
/*Login*/
.menu {
  z-index: 999;
  position: fixed;
  width: 100%;
  background: #161616;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 85px;
  padding: 0 3em;
}

.menu__burger {
  display: none;
  cursor: pointer;
}

@media screen and (max-width: 890px) {
  .menu__burger {
    display: block;
  }
}

.menu nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2vw;
  list-style: none;
}

.menu nav ul li a {
  -webkit-transition: ease-in 150ms;
  transition: ease-in 150ms;
  font-size: 16px;
  letter-spacing: 0.25px;
  font-weight: 600;
  text-decoration: none;
  color: #fff;
}

.menu nav ul li a:hover {
  opacity: 0.7;
}

@media screen and (max-width: 890px) {
  .menu nav {
    display: none;
  }
}

.menu__btn a {
  padding: .6rem 1.5em;
}

@media screen and (max-width: 890px) {
  .menu__btn {
    display: none;
  }
}

/*Palette Color*/
/*Resources*/
/*Menu*/
/*Hero*/
/*Login*/
/*Palette Color*/
/*Resources*/
/*Menu*/
/*Hero*/
/*Login*/
.menu {
  z-index: 999;
  position: fixed;
  width: 100%;
  background: #161616;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 85px;
  padding: 0 3em;
}

.menu__burger {
  display: none;
  cursor: pointer;
}

@media screen and (max-width: 890px) {
  .menu__burger {
    display: block;
  }
}

.menu nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2vw;
  list-style: none;
}

.menu nav ul li a {
  -webkit-transition: ease-in 150ms;
  transition: ease-in 150ms;
  font-size: 16px;
  letter-spacing: 0.25px;
  font-weight: 600;
  text-decoration: none;
  color: #fff;
}

.menu nav ul li a:hover {
  opacity: 0.7;
}

@media screen and (max-width: 890px) {
  .menu nav {
    display: none;
  }
}

.menu__btn a {
  padding: .6rem 1.5em;
}

@media screen and (max-width: 890px) {
  .menu__btn {
    display: none;
  }
}

body {
  background: red;
}

.section-recover {
  padding: calc(85px + 2em) 2em 0em 2em;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.section-recover__content {
  width: 100%;
  max-width: 500px;
}

@media screen and (max-width: 768px) {
  .section-recover__content {
    max-width: 100%;
  }
}

.section-recover__content__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section-recover__content__form article h1 {
  color: #fff;
}

.section-recover__content__form input {
  -webkit-transition: ease-in 150ms;
  transition: ease-in 150ms;
  padding: 1.25rem 1.5rem;
  cursor: pointer;
  font-size: clamp(16px, 1rem, 18px);
  border: none;
  border-radius: 5px;
  background: #222222;
  outline: none;
  color: #fff;
  margin: .5em 0;
  border: 1.5px solid #161616;
}

.section-recover__content__form input:focus {
  border: 1.75px solid #25A9EE;
}

.section-recover__content__form ::-webkit-input-placeholder {
  font-size: 15px;
  letter-spacing: 0.25px;
  font-weight: 600;
  color: #5E5E5E;
}

.section-recover__content__form :-ms-input-placeholder {
  font-size: 15px;
  letter-spacing: 0.25px;
  font-weight: 600;
  color: #5E5E5E;
}

.section-recover__content__form ::-ms-input-placeholder {
  font-size: 15px;
  letter-spacing: 0.25px;
  font-weight: 600;
  color: #5E5E5E;
}

.section-recover__content__form ::placeholder {
  font-size: 15px;
  letter-spacing: 0.25px;
  font-weight: 600;
  color: #5E5E5E;
}

.section-recover__content__form button {
  font-weight: 700;
  color: #161616;
  border-radius: 5px;
  padding: 1.25rem 1.5rem;
  border: none;
  cursor: pointer;
}

.section-recover__content__form a {
  padding-top: .5rem;
  text-decoration: none;
  font-weight: 700;
  color: #25A9EE;
  cursor: pointer;
}

body {
  background: #161616;
}

.section-login {
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  place-items: center;
  /*-----------------------------------*/
}

@media (max-width: 980px) {
  .section-login {
    padding: calc(85px + 2em) 0em 0em 0em;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.section-login__illustration {
  padding: 0 2em;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

@media (max-width: 980px) {
  .section-login__illustration {
    display: none;
  }
}

.section-login__illustration--content img {
  width: 30vw;
}

.section-login__content {
  padding: 0 2em;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

@media (max-width: 980px) {
  .section-login__content {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.section-login__content__form {
  width: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 1.5em;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 980px) {
  .section-login__content__form {
    padding: 0;
    width: 100%;
  }
}

.section-login__content__form article {
  padding-bottom: 2em;
}

.section-login__content__form article h1 {
  color: #fff;
}

.section-login__content__form--input i {
  cursor: pointer;
  margin-top: 30px;
  margin-left: 415px;
  position: absolute;
  color: #5E5E5E;
}

@media screen and (max-width: 980px) {
  .section-login__content__form--input i {
    margin-left: 85%;
    margin-left: calc(100% - 7em);
  }
}

.section-login__content__form--input input {
  -webkit-transition: ease-in 150ms;
  transition: ease-in 150ms;
  padding: 1.25rem 1.5rem;
  cursor: pointer;
  font-size: clamp(16px, 1rem, 18px);
  border: none;
  border-radius: 5px;
  background: #222222;
  outline: none;
  color: #fff;
  margin: .5em 0;
  border: 1.5px solid #161616;
  width: 100%;
}

.section-login__content__form--input input:focus {
  border: 1.75px solid #25A9EE;
}

.section-login__content__form--input ::-webkit-input-placeholder {
  font-size: 15px;
  letter-spacing: 0.25px;
  font-weight: 600;
  color: #5E5E5E;
}

.section-login__content__form--input :-ms-input-placeholder {
  font-size: 15px;
  letter-spacing: 0.25px;
  font-weight: 600;
  color: #5E5E5E;
}

.section-login__content__form--input ::-ms-input-placeholder {
  font-size: 15px;
  letter-spacing: 0.25px;
  font-weight: 600;
  color: #5E5E5E;
}

.section-login__content__form--input ::placeholder {
  font-size: 15px;
  letter-spacing: 0.25px;
  font-weight: 600;
  color: #5E5E5E;
}

.section-login__content__form .section-login__content__form--options {
  padding-top: 1em;
  padding-bottom: 1.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 16px;
  letter-spacing: 0.25px;
}

.section-login__content__form .section-login__content__form--options--recover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: .5rem;
}

.section-login__content__form .section-login__content__form--options--recover span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  cursor: pointer;
  gap: .25rem;
}

.section-login__content__form .section-login__content__form--options--recover span input[type=checkbox] {
  cursor: pointer;
  padding: 10px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 3px;
  background: #fff;
  outline: none;
}

.section-login__content__form .section-login__content__form--options--recover span input[type=checkbox]:checked {
  content: "";
  position: relative;
  background-image: url(../../../imgs/check.png);
  background-size: contain;
  background-color: #25A9EE;
}

.section-login__content__form .section-login__content__form--options--recover a {
  text-decoration: none;
  font-weight: 700;
  color: #25A9EE;
  cursor: pointer;
}

.section-login__content__form .section-login__content__form--options button {
  font-weight: 700;
  color: #161616;
  border-radius: 5px;
  padding: 1.25rem 1.5rem;
  border: none;
  cursor: pointer;
}
/*# sourceMappingURL=login.css.map */