/*Palette Color*/
/*Resources*/
/*Menu*/
/*Hero*/
/*Login*/
/*Cadastro*/
/*Palette Color*/
/*Resources*/
/*Menu*/
/*Hero*/
/*Login*/
/*Cadastro*/
.menu {
  z-index: 999;
  position: fixed;
  width: 100%;
  background: #161616;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 85px;
  padding: 0 3em;
}

.menu__burger {
  display: none;
  cursor: pointer;
}

@media screen and (max-width: 890px) {
  .menu__burger {
    display: block;
  }
}

.menu nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2vw;
  list-style: none;
}

.menu nav ul li a {
  -webkit-transition: ease-in 150ms;
  transition: ease-in 150ms;
  font-size: 16px;
  letter-spacing: 0.25px;
  font-weight: 600;
  text-decoration: none;
  color: #fff;
}

.menu nav ul li a:hover {
  opacity: 0.7;
}

@media screen and (max-width: 890px) {
  .menu nav {
    display: none;
  }
}

.menu__btn a {
  padding: .6rem 1.5em;
}

@media screen and (max-width: 890px) {
  .menu__btn {
    display: none;
  }
}

@media (min-width: 800px) {
  .menu {
    background-color: transparent;
  }
}

.section-registration {
  height: 100vh;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

@media (max-width: 980px) {
  .section-registration {
    padding: 0;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

@media (max-width: 799px) {
  .section-registration {
    height: 0;
    margin-top: 85px;
  }
}

.section-registration .content {
  width: 100%;
}

.section-registration .col-input {
  margin-top: 1em;
}

.section-registration .content-sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.section-registration .content-sidebar > *:nth-child(1) {
  padding: 0 1.5em;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 30%;
          flex: 1 1 30%;
  min-width: 25ch;
  overflow: hidden;
  background-color: #F3F3F3;
}

@media (min-width: 800px) {
  .section-registration .content-sidebar > *:nth-child(1) {
    max-width: 30ch;
    background-color: #161616;
    height: 100vh;
    padding: 11em 4em;
  }
}

.section-registration .content-sidebar > *:nth-child(2) {
  padding: 1em;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 70%;
  flex: 1 1 70%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-width: 25ch;
  background-color: white;
}

@media (min-width: 800px) {
  .section-registration .content-sidebar > *:nth-child(2) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    max-height: 100vh;
    overflow: auto;
  }
}

/* Progressbar */
.progressbar {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  counter-reset: step;
  margin: 2rem 0 4rem;
}

@media (min-width: 800px) {
  .progressbar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 3em;
  }
}

.progressbar::before,
.progress {
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  height: 4px;
  width: 100%;
  background-color: #A2A2A2;
  z-index: 1;
}

@media (min-width: 800px) {
  .progressbar::before,
  .progress {
    z-index: -1;
  }
}

.progress {
  background-color: #25A9EE;
  width: 0%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.progress-step {
  width: 2.1875rem;
  height: 2.1875rem;
  background-color: #a2a2a2;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.progress-step::before {
  counter-increment: step;
  content: counter(step);
  z-index: 2;
  color: #fff;
}

.progress-step::after {
  content: attr(data-title);
  position: absolute;
  top: calc(100% + 0.5rem);
  font-size: 0.85rem;
  color: #999999;
  z-index: 2;
}

@media (min-width: 800px) {
  .progress-step::after {
    top: auto;
    margin-left: 9em;
    text-align: initial;
  }
}

.progress-step-active {
  background-color: #25A9EE;
  color: #fff;
  z-index: 2;
}

/* Form */
.form {
  margin: 0 auto;
  border-radius: 0.35rem;
}

.form-step {
  display: none;
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-animation: animate 0.5s;
          animation: animate 0.5s;
}

@media (min-width: 800px) {
  .form-step {
    width: 70%;
  }
}

.form-step-active {
  display: block;
}

.input-group {
  margin: 2rem 0;
}

@-webkit-keyframes animate {
  from {
    -webkit-transform: scale(1, 0);
            transform: scale(1, 0);
    opacity: 0;
  }
  to {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
    opacity: 1;
  }
}

@keyframes animate {
  from {
    -webkit-transform: scale(1, 0);
            transform: scale(1, 0);
    opacity: 0;
  }
  to {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
    opacity: 1;
  }
}

/* Button */
.btns-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1150px) {
  .btns-group {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
  }
}

.btns-form {
  margin-top: 2em;
}

.btns {
  padding: 1.25rem 1.5rem;
  display: block;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-weight: 700;
  color: #fff;
  border-radius: 5px;
  border: none;
  width: 200px;
}

@media (max-width: 1150px) {
  .btns {
    width: 100%;
  }
}

.btn-prev {
  background-color: #161616;
}

.btn-next {
  background-color: #25A9EE;
  float: right;
  right: 0;
}

.width-50 {
  float: right;
}

.boxes .inputs {
  width: 100%;
  margin-bottom: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}

@media screen and (min-width: 1150px) {
  .boxes {
    display: -ms-grid;
    display: grid;
    gap: 1em;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    margin-bottom: 1.5em;
    margin-top: 1.5em;
  }
  .boxes .inputs:nth-of-type(1) {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .boxes .inputs:nth-of-type(2) {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .boxes .inputs:nth-of-type(3) {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .boxes .inputs:nth-of-type(4) {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
}

.form-inputs article {
  padding-bottom: 1em;
}

.form-inputs article h1 {
  color: #161616;
}

.form-inputs label {
  margin-top: 1px;
  font-weight: 700;
  color: #161616;
  text-align: initial;
}

.form-inputs input {
  -webkit-transition: ease-in 150ms;
  transition: ease-in 150ms;
  padding: 1.25rem 1.5rem;
  cursor: pointer;
  font-size: clamp(16px, 1rem, 18px);
  border: none;
  border-radius: 5px;
  background: #fff;
  outline: none;
  color: #25A9EE;
  margin: .1em 0;
  border: 1.5px solid #B8B8B8;
  width: 100%;
}

.form-inputs input:focus {
  border: 1.5px solid #25A9EE;
}

.form-inputs #login_error_message {
  color: red;
  display: none;
}

.form-inputs i {
  cursor: pointer;
  margin-top: 30px;
  margin-left: 415px;
  position: absolute;
  color: #5E5E5E;
}

@media screen and (max-width: 980px) {
  .form-inputs i {
    margin-left: 85%;
    margin-left: calc(100% - 7em);
  }
}

.form-inputs ::-webkit-input-placeholder {
  font-size: 15px;
  letter-spacing: 0.25px;
  font-weight: 600;
  color: #5E5E5E;
}

.form-inputs :-ms-input-placeholder {
  font-size: 15px;
  letter-spacing: 0.25px;
  font-weight: 600;
  color: #5E5E5E;
}

.form-inputs ::-ms-input-placeholder {
  font-size: 15px;
  letter-spacing: 0.25px;
  font-weight: 600;
  color: #5E5E5E;
}

.form-inputs ::placeholder {
  font-size: 15px;
  letter-spacing: 0.25px;
  font-weight: 600;
  color: #5E5E5E;
}

.black {
  color: #161616;
}

.primary {
  color: #25A9EE;
}

.box-plan .plan {
  width: 70%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (min-width: 1238px) {
  .box-plan {
    gap: 1em;
    display: -ms-grid;
    display: grid;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: justify;
        align-content: space-between;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    margin-bottom: 1.5em;
    margin-top: 1.5em;
  }
  .boxes .plan:nth-of-type(1) {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .boxes .plan:nth-of-type(2) {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .boxes .plan:nth-of-type(3) {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
}

@media (max-width: 1237px) {
  .plans-web {
    display: none;
  }
  .plans-mobile {
    display: block;
  }
}

@media (min-width: 1238px) {
  .plans-web {
    display: block;
  }
  .plans-mobile {
    display: none;
  }
}

.form .plan input, .form .payment-plan input, .form .payment-type input {
  display: none;
}

.form .label {
  padding: 40px 20px;
  position: relative;
  color: #999999;
  background-color: white;
  font-size: 1rem;
  text-align: center;
  height: auto;
  display: block;
  cursor: pointer;
  border: 1px solid #B7B7B7;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 5px;
  width: 100%;
}

.form .label h1 {
  font-size: 2rem;
  text-align: initial;
}

.form .label h1 span {
  font-size: medium;
  font-weight: normal;
}

.form .label li {
  margin-top: 1em;
  font-size: clamp(16px, 1rem, 18px);
  list-style: none;
  text-align: initial;
}

.form .label li i {
  color: #161616;
}

.form .plan input:checked + label, .form .payment-plan input:checked + label, .form .payment-type input:checked + label {
  border: 1px solid #25A9EE;
  border-radius: 5px;
}

.form .plan input:checked + label:after, form .payment-plan input:checked + label:after, .form .payment-type input:checked + label:after {
  content: "\2713";
  width: 20px;
  height: 20px;
  line-height: 20px;
  border-radius: 100%;
  border: 2px solid #25A9EE;
  color: #fff;
  background-color: #25A9EE;
  z-index: 999;
  position: absolute;
  top: 10px;
  right: 10px;
}

.submit {
  padding: 15px 60px;
  display: inline-block;
  border: none;
  margin: 20px 0;
  color: #fff;
  border: 2px solid #333;
  font-size: 18px;
  -webkit-transition: transform 0.3s ease-in-out;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.submit:hover {
  cursor: pointer;
  -webkit-transform: rotateX(360deg);
          transform: rotateX(360deg);
}

.accordion button {
  position: relative;
  display: block;
  text-align: left;
  width: 100%;
  padding: 1em 1em 0em 1em;
  color: #25A9EE;
  font-size: 1.15rem;
  border: none;
  font-weight: 400;
  background: none;
  outline: none;
}

.accordion button:hover, .accordion button:focus {
  cursor: pointer;
  color: #25A9EE;
}

.accordion button:hover::after, .accordion button:focus::after {
  cursor: pointer;
  color: white;
}

.accordion button .accordion-title {
  padding: 1em 1.5em 1em 0;
}

.accordion button .icon {
  display: inline-block;
  position: absolute;
  top: 18px;
  right: 0;
  width: 22px;
  height: 22px;
  border: 1px solid;
  border-radius: 22px;
}

.accordion button .icon::before {
  display: block;
  position: absolute;
  content: '';
  top: 9px;
  left: 5px;
  width: 10px;
  height: 2px;
  background: currentColor;
}

.accordion button .icon::after {
  display: block;
  position: absolute;
  content: '';
  top: 5px;
  left: 9px;
  width: 2px;
  height: 10px;
  background: currentColor;
}

.accordion button[aria-expanded='true'] {
  color: #25A9EE;
}

.accordion button[aria-expanded='true'] .icon::after {
  width: 0;
}

.accordion button[aria-expanded='true'] + .accordion-content {
  opacity: 1;
  max-height: 9em;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
  will-change: opacity, max-height;
}

.accordion .accordion-content {
  color: #999999;
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: opacity 200ms linear, max-height 200ms linear;
  transition: opacity 200ms linear, max-height 200ms linear;
  will-change: opacity, max-height;
}

.accordion .accordion-content .dropdown-menu {
  list-style: none;
}

.accordion .accordion-content .dropdown-menu i {
  color: #161616;
}

.accordion .accordion-content .dropdown-menu li {
  margin-left: 1.2em;
  margin-bottom: 0.5em;
}

.border-list {
  border: 1px solid #25A9EE;
  border-radius: 10px;
  margin-bottom: 1em;
  margin-top: 0.5em;
}

.black {
  color: black;
}

.primary {
  color: #25A9EE;
}

.grow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.grow1 {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.space {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.margin-inp {
  margin-top: 3em;
}

.qrcode {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.qrcode .qr {
  width: 100%;
}

.qrcode .btn-pix {
  padding: 1rem;
  font-size: medium;
  display: block;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-weight: 700;
  color: #fff;
  border-radius: 5px;
  border: none;
  width: 100%;
  background-color: #161616;
}

.qrcode p {
  text-align: initial;
}

.qrcode .img-finish {
  width: 56vh;
}

@media (max-width: 799px) {
  .qrcode .img-finish {
    width: 34vh;
  }
}

@media (min-width: 800px) and (max-width: 1200px) {
  .qrcode .img-finish {
    width: 45vh;
  }
}

.btn-100 {
  width: 100%;
}
/*# sourceMappingURL=cadastro.css.map */