/*Palette Color*/
$primary: #836FFF;
$secondary: #EBE8FF;
$background: #FFFFFF;
$border: #CACACA;
$primaryFontColor: #161616;
$secondaryFontColor: #878787;
$statusColorSafety: #35E156;
$statusColorAttention: #FB4B4B; 
/*Font Size*/
$iconFontSize: clamp(1em, 1.25vw, 1.5em);
$linkFontSize: clamp(18px, 1.25vw, 1em);
// /*Resources*/
// $titleFontSize: clamp(2em, 2.5vw, 3em);
// /*Menu*/
// $heightMenu: 85px;
// /*Hero*/
// $heroFontSize: clamp(2vw, 7em, 9vw);
// /*Login*/
// $inputBackgroudColor: #222222;
// $inputPlaceholder: #5E5E5E;
// $inputBorder: #B8B8B8;