@import '../../../root/root.scss';

.mobile{
    display: none;
    @media screen and(max-width: 710px){
        display: block;
    }

    width: 100%;
    height: 100vh;
    justify-content: space-between;

    &-content{
        background-color: $white;
        width: 100%;
        height: 90vh;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;


        .mobile-card{
            padding: 10px;
            margin-top: 10px;
            background-color: white;
            width: 90%;
            height: 100px;
            align-items: center;

            .icon{
                background-color: $primary;
                width: 70px;
                height: 70px;
                border-radius: 8px;
                margin-right: 3px;
                display: flex;
                align-items: center;
                justify-content: center;
                
                i::before{
                    color: $white;
                    font-size: 3em;
                }
            }

            .title{
                font-weight: bold;
            }

            .location{
                font-size: 13px;
            }

            .header{
                display: flex;
                padding: 5px;
                flex-direction: column;  
            }
            
            &-open{
                padding: 10px;
                height: 225px;
                z-index: 10;
                margin-top: 20px;
                background-color: white;
                width: 90%;
                border: 2px solid $primary;
                border-radius: 5px;
                transition: 0.5s;

                .icon{
                    float: left;
                    background-color: $primary;
                    width: 70px;
                    height: 70px;
                    border-radius: 8px;
                    margin-right: 3px;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    i::before{
                        color: $white;
                        font-size: 3em;
                    }
                }

                .title{
                    font-weight: bold;
                }
    
                .location{
                    font-size: 15px;
                }
    
                .header{
                    display: flex;
                    padding: 5px;
                    flex-direction: column;  

                    
                }

                .card-content{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    height: 50%;
                    margin-top: 20px;
                    padding-right: 10px;
                    .left-content{
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between

                    }
    
                    .right-content{
                        display: flex;
                        flex-direction: column;
                    }

                                .reg_btn{
                text-decoration: none;
                padding: 0 2em;
                border-radius: 5px;
                height: 40px;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                background-color: #25A9EE;
                color: white;
                font-weight: 100;
            }

                }
            }
            
        }
    }

    &-menu{
        background-color: $black;
        width: 100%;
        height: 10vh;
        position: fixed;
        z-index: 99999;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        .icon-menu{
            text-decoration: none;
            width: 100%;
            height: 50px;
            border-radius: 5px;
            margin: 0 20px;
            display: flex;
            align-items: center;
            justify-content: center;
    
            i::before{
                font-size: x-large;
                color: $white;
            }
            &:hover{
                background-color: $primary;
            }
               
        }

        .active{
            background-color: $primary; 
            i::before{
                color: $black;
            } 
        }
    }

    .mobile-content{
        padding: 10px;
    }

    .buttons{
        width: 100%;
    }
    .reg_btn{
        text-decoration: none;
        text-align: center;
        padding: 20px;
        border-radius: 5px;
        height: 60px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        background-color: #25A9EE;
        color: white;
        font-weight: 100;
        @media screen and(max-width: 710px){
            width: 100%;
            margin-bottom: 10px;
    }
    }
}

